/** ********** Fonts ********** **/
* {
  font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
  font-size: 12px;
}

/** Common style **/
#pulseaudio,
#backlight,
#network,
#power-profiles-daemon,
#battery,
#clock,
#custom-power {
  border-radius: 4px;
  margin: 6px 0px;
  padding: 2px 14px;
}

/** ********** Waybar Window ********** **/
window#waybar {
  background-color: #1e1e2e;
  color: #1e1e2e;
  border-bottom: 2px solid #313244;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button.active {
  box-shadow: inset 0 -3px #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
  background-color: #fab387;
}

#pulseaudio.bluetooth {
  background-color: #f5c2e7;
}
#pulseaudio.muted {
  background-color: #313244;
  color: #cdd6f4;
}

/** ********** Backlight ********** **/
#backlight {
  background-color: #cba6f7;
}

/** ********** Network ********** **/
#network {
  background-color: #89b4fa;
}

#network.disconnected,
#network.disabled {
  background-color: #313244;
  color: #cdd6f4;
}

/** **** Power profiles daemon **** **/
#power-profiles-daemon {
  padding-right: 18px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #1989d3;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

/** ********** Battery ********** **/
#battery {
  background-color: #f9e2af;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
  background-color: #a6e3a1;
}

/** ********** Custom power ********** **/
#custom-power {
  background-color: #f38ba8;
  margin-right: 6px;
  font-size: 18px;
}
